.li-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  
.ul-container {
    padding: 0;
    margin: 0;
}

.game-history-headers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}
