.game-controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eceff5;
    border: 1px solid;
    border-radius: 5px;
    width: inherit;
    gap: 20px;
  }
  